{% extends "greeting/list.html" %}
{% block title %} A new greeting {% endblock %}


{% block body %}

{% if errors %}
<ul>
  {% for error in errors %}
  <li color=red>{{error}}</li>
  {% endfor %}
</ul>
{% endif %}
<form method="post">
  <textarea name="greeting_text">{% if new_msg %}{{ new_msg.greeting_text}}{% endif %}</textarea>
  <input type="submit" />
</form>
{% endblock %}
